<?xml version="1.0"?>
<launch>

  <!-- start gazebo simulation -->
  <include file="$(find rb1_base_gazebo)/launch/rb1_base.launch"/>

  <!-- rb1_base_control will provide control for TODO -->
  <!-- Now we are using ros control diff controller to simulate the robot control -->
  <!--include file="$(find rb1_base_robot_control)/launch/rb1_base_robot_control.launch"/-->

  <!-- robot_localization nodes, publishes transformation world->odom->base_footprint -->
  <!--include file="$(find rb1_base_localization)/launch/robot_localization_complete.launch"/-->
  
</launch>
