<?xml version="1.0"?>
<launch>

	<!-- arg to config the launch file-->
	<arg name="launch_rviz" default="true"/>
	<arg name="gazebo_world" default="$(find rb1_base_gazebo)/worlds/rb1_base_office.world"/>
	<arg name="use_ros_planar_move_plugin" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="rviz_config" default="$(find rb1_base_gazebo)/rviz/rb1_base.rviz"/>


	<!-- arguments robot a -->
	<arg name="id_robot" value="robot"/>
	<arg name="prefix" value="$(arg id_robot)_"/>
	<arg name="xacro_robot" value="rb1_dual_ur3.urdf.xacro"/>
	<arg name="x_init_pose" default="0.0" />
	<arg name="y_init_pose" default="0.0" />
	<arg name="z_init_pose" default="0.0" />
	<arg name="init_yaw" default="0.0" />
	<arg name="gmapping" default="false"/>
	<arg name="amcl_and_mapserver" default="false"/>
	<arg name="global_frame" default="$(arg prefix)map"/>
	<arg name="map_file" default="$(find rb1_base_localization)/maps/willow_garage/willow_garage.yaml"/>
	<arg name="move_base" default="false"/>
	<arg name="pad_robot" default="false"/>
	<arg name="moveit_movegroup" default="true"/>
	<arg name="load_kinematics_file" default="false"/>


	<group ns="$(arg id_robot)">

		<param name="robot_description" command="$(find xacro)/xacro '$(find rb1_base_description)/robots/$(arg xacro_robot)' prefix:=$(arg prefix) ros_planar_move_plugin:=$(arg use_ros_planar_move_plugin) load_kinematics_file:=$(arg load_kinematics_file) --inorder"/>

		<!-- Spawner model into gazebo -->
		<node name="urdf_spawner_rb1_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-x $(arg x_init_pose) -y $(arg y_init_pose) -z $(arg z_init_pose) -Y $(arg init_yaw) -urdf -param robot_description -model $(arg id_robot)" />

		<!-- Robot state publisher -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<remap from="/joint_states" to="joint_states" />
		</node>

		<!-- start rb1_base_control nodes -->
		<include file="$(find rb1_base_control)/launch/rb1_base_control.launch">
			<arg name="prefix" value="$(arg prefix)"/>
			<arg name="id_robot" value="$(arg id_robot)"/>
			<arg name="sim" value="true"/>
			<arg name="has_elevator" value="false"/>
			<arg name="use_ros_planar_move_plugin" value="$(arg use_ros_planar_move_plugin)"/>
		</include>
		<!-- left arm -->
		<include file="$(find rb1_base_control)/launch/ur_control.launch.xml">
			<arg name="prefix" value="$(arg id_robot)_left_"/>
			<arg name="namespace" value="left_arm"/>
		</include>
		<!-- right arm -->
		<include file="$(find rb1_base_control)/launch/ur_control.launch.xml">
			<arg name="prefix" value="$(arg id_robot)_right_"/>
			<arg name="namespace" value="right_arm"/>
		</include>

		<!-- robot_localization nodes, publishes transformation world->odom->base_footprint -->
		<include file="$(find rb1_base_localization)/launch/imu_filter.launch">
			<arg name="prefix" value="$(arg prefix)"/>
		</include>

		<!-- pad -->
		<include if="$(arg pad_robot)" file="$(find rb1_base_pad)/launch/rb1_base_pad.launch"/>

		<!-- amcl and map server base-->
		<include if="$(arg amcl_and_mapserver)" file="$(find rb1_base_localization)/launch/map_server.launch">
			<arg name="prefix" value="$(arg prefix)"/>
			<arg name="map_file" value="$(arg map_file)"/>
			<arg name="frame_id" value="$(arg global_frame)"/>
		</include>

		<include if="$(arg amcl_and_mapserver)" file="$(find rb1_base_localization)/launch/amcl.launch">
			<arg name="global_frame" value="$(arg global_frame)"/>
			<arg name="prefix" value="$(arg prefix)"/>
			<arg name="x_init_pose" value="$(arg x_init_pose)"/>
			<arg name="y_init_pose" value="$(arg y_init_pose)"/>
			<arg name="z_init_pose" value="$(arg z_init_pose)"/>
			<arg name="init_yaw" value="$(arg init_yaw)"/>
		</include>

		<!-- move base -->
		<include if="$(arg move_base)" file="$(find rb1_base_navigation)/launch/move_base.launch">
			<arg name="prefix" value="$(arg prefix)"/>
			<arg name="global_frame" value="$(arg global_frame)"/>
		</include>

		<!-- gmapping -->
		<include if="$(arg gmapping)" file="$(find rb1_base_localization)/launch/gmapping.launch">
			<arg name="prefix" value="$(arg prefix)"/>
		</include>


		<!-- MoveGroup Moveit! -->
		<include if="$(arg moveit_movegroup)" file="$(find rb1_dual_ur3_moveit_config)/launch/rb1_dual_ur3_moveit_config.launch">
			<arg name="sim" value="true"/>
		</include>
	</group>

	<!-- gazebo simulation and rviz visualization-->
	<include file="$(find rb1_base_gazebo)/launch/gazebo_rviz.launch">
		<arg name="launch_rviz" value="$(arg launch_rviz)"/>
		<arg name="world_name" value="$(arg gazebo_world)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="rviz_config" value="$(arg rviz_config)"/>
	</include>

</launch>
