<?xml version="1.0"?>
<launch>

 <!-- What simulator to use -->
 <arg name="simulation_package" default="$(optenv SIMULATION_PACKAGE rb1_base_gazebo)"/>
 <arg name="config_package" default="$(optenv SIMULATION_CONFIG_PACKAGE rb1_base_gazebo)"/>
 <arg name="use_gpu_for_simulation" default="$(optenv SIMULATION_USE_GPU true)"/>

 <!-- Simulation arguments -->
 <arg name="world" default="worlds/rb1_base.world" /> <!-- relative path to config_package -->
 <arg name="world_file" default="$(eval find(config_package) + '/' + world)"/> <!-- absolute path -->
 <arg name="debug" default="false"/>
 <arg name="paused" default="false"/>
 <arg name="headless" default="false"/>
 <arg name="gui" default="true"/>

 <arg name="launch_elevator_fake_pickup_gazebo" default="$(optenv LAUNCH_ELEVATOR_FAKE_PICKUP_GAZEBO false"/>
 <arg name="rb1_sim_elevator_pickup_gazebo_cfg_file" default="$(optenv RB1_SIM_ELEVATOR_PICKUP_GAZEBO_CFG_FILE elevator_fake_pickup_gazebo.yaml"/>

 <!-- Launch gazebo -->
 <include file="$(eval find(simulation_package) + '/launch/spawn_simulation.launch')">
   <arg name="world_name" value="$(arg world_file)"/>
   <arg name="debug" value="$(arg debug)" />
   <arg name="paused" value="$(arg paused)" />
   <arg name="headless" value="$(arg headless)"/>
   <arg name="gui" value="$(arg gui)"/>
 </include>

 <!-- avoids Gazebo physics to pickup carts -->
 <include if="$(arg launch_elevator_fake_pickup_gazebo)" file="$(find robotnik_base_hw_sim)/launch/elevator_fake_pickup_gazebo.launch">
   <arg name="config_yaml" value="$(eval find(rb1_base_sim_bringup) + '/config/' + rb1_sim_elevator_pickup_gazebo_cfg_file)"/>
 </include>

</launch>
