<?xml version="1.0"?>
<launch>

	<arg name="use_gpu_for_simulation" default="$(optenv SIMULATION_USE_GPU true)"/>
	<arg name="launch_elevator_fake_pickup_gazebo" default="$(optenv LAUNCH_ELEVATOR_FAKE_PICKUP_GAZEBO false"/>
	<!-- robot -->
	<arg name="id_robot" default="$(optenv ROBOT_ID robot"/>
	<arg name="prefix" value="$(arg id_robot)_"/>
	<arg name="has_elevator" default="false"/>
	<arg name="xacro_robot_elevator" default="rb1_base_elevator_std.urdf.xacro"/>
	<!-- arm robot -->
	<arg name="launch_arm" default="false"/>
	<arg name="arm_model" default="base"/>
	<arg name="xacro_robot" default="rb1_$(arg arm_model)_std.urdf.xacro"/>
	<arg name="moveit_movegroup" default="false"/>
	<!-- arguments robot -->
	<arg name="x_init_pose" default="0"/>
	<arg name="y_init_pose" default="0"/>
	<arg name="z_init_pose" default="0"/>
	<arg name="init_yaw" default="0"/>
	<arg name="launch_gmapping" default="false"/>
	<arg name="launch_amcl_and_mapserver" default="false"/>
	<arg name="global_frame" default="$(arg prefix)map"/>
	<arg name="map_file" default="$(find rb1_base_localization)/maps/empty/empty.yaml"/>
	<arg name="launch_move_base" default="false"/>
	<arg name="launch_navigation" default="true"/>
	<arg name="launch_pad" default="false"/>
	<arg name="launch_perception" default="true"/>
	<arg name="launch_reflector_locator" default="true"/>
	<arg name="launch_rlc" default="true"/>
	<arg name="launch_rostful" default="true"/>
	<arg name="rostful_host" default="192.168.0.200"/>
	<arg name="rostful_init_delay" default="10"/>
	<arg name="rostful_port" default="8080"/>
	<arg name="launch_base_hw_sim" default="false"/>
	<arg name="fake_elevator_physics" default="true"/>
	<arg name="use_ros_planar_move_plugin" default="true"/>

	<include file="$(find rb1_base_gazebo)/launch/rb1_base_one_robot.launch">
		<!-- robot -->
		<arg name="id_robot" value="$(arg id_robot)"/>
		<arg name="xacro_robot" value="$(arg xacro_robot)"/>
		<arg name="has_elevator" value="$(arg has_elevator)"/>
		<arg name="xacro_robot_elevator" value="$(arg xacro_robot_elevator)"/>

		<!-- arm robot -->
		<arg name="launch_arm" value="$(arg launch_arm)"/>
		<arg name="arm_model" value="$(arg arm_model)"/>
		<arg name="moveit_movegroup" value="$(arg moveit_movegroup)"/>

		<!-- arguments robot -->
		<arg name="x_init_pose" value="$(arg x_init_pose)"/>
		<arg name="y_init_pose" value="$(arg y_init_pose)"/>
		<arg name="z_init_pose" value="$(arg z_init_pose)"/>
		<arg name="init_yaw" value="$(arg init_yaw)"/>
		<arg name="launch_gmapping" value="$(arg launch_gmapping)"/>
		<arg name="launch_amcl_and_mapserver" value="$(arg launch_amcl_and_mapserver)"/>
		<arg name="map_file" value="$(arg map_file)"/>
		<arg name="global_frame" value="$(arg global_frame)"/>
		<arg name="launch_move_base" value="$(arg launch_move_base)"/>
		<arg name="launch_navigation" value="$(arg launch_navigation)"/>
		<arg name="launch_pad" value="$(arg launch_pad)"/>
		<arg name="launch_perception" value="$(arg launch_perception)"/>
		<arg name="launch_reflector_locator" value="$(arg launch_reflector_locator)"/>
		<arg name="launch_rlc" value="$(arg launch_rlc)"/>
		<arg name="launch_rostful" value="$(arg launch_rostful)"/>
		<arg name="rostful_host" value="$(arg rostful_host)"/>
		<arg name="rostful_port" value="$(arg rostful_port)"/>
		<arg name="launch_base_hw_sim" value="$(arg launch_base_hw_sim)"/>
		<arg name="fake_elevator_physics" value="$(arg launch_elevator_fake_pickup_gazebo)"/>
		<arg name="use_ros_planar_move_plugin" value="$(arg use_ros_planar_move_plugin)"/>
		<arg name="use_gpu_for_simulation" value="$(arg use_gpu_for_simulation)"/>
	</include>

</launch>
