ros-${ROS_DISTRO}-amcl
ros-${ROS_DISTRO}-base-local-planner
ros-${ROS_DISTRO}-costmap-2d
ros-${ROS_DISTRO}-costmap-converter
ros-${ROS_DISTRO}-geographic-msgs
ros-${ROS_DISTRO}-gmapping
ros-${ROS_DISTRO}-hector-sensors-description
ros-${ROS_DISTRO}-imu-complementary-filter
ros-${ROS_DISTRO}-joint-state-publisher-gui
ros-${ROS_DISTRO}-joy
ros-${ROS_DISTRO}-libg2o
ros-${ROS_DISTRO}-map-server
ros-${ROS_DISTRO}-mavros
ros-${ROS_DISTRO}-mavros-msgs
ros-${ROS_DISTRO}-mbf-abstract-core
ros-${ROS_DISTRO}-mbf-costmap-core
ros-${ROS_DISTRO}-mbf-msgs
ros-${ROS_DISTRO}-mbf-utility
ros-${ROS_DISTRO}-move-base
ros-${ROS_DISTRO}-nav-core
ros-${ROS_DISTRO}-pointcloud-to-laserscan
ros-${ROS_DISTRO}-robot-localization
ros-${ROS_DISTRO}-teb-local-planner
ros-${ROS_DISTRO}-teb-local-planner
ros-${ROS_DISTRO}-twist-mux
ros-${ROS_DISTRO}-voxel-grid