<?xml version="1.0"?>
<launch>

	<!-- roslaunch arguments --> 
	<arg name="debug" default="false"/>
	<arg name="launch_rviz" default="false"/>
	<arg name="world_name" default="$(find rb1_base_gazebo)/worlds/rb1_base.world"/>
	<arg name="rviz_config" default="$(find rb1_base_gazebo)/rviz/rb1_base_a.rviz"/>
	<arg name="gazebo_gui" default="true"/>
	<arg name="verbose" default="false"/>

	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="gui" value="$(arg gazebo_gui)"/>
		<arg name="verbose" value="$(arg verbose)"/>
	</include>
	
	<!-- launch rviz -->

	<node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" required="true"/>
	
	
</launch>

