<?xml version="1.0"?>
<launch>

	<!-- arg to config the launch file-->
	
	<!--launch_navigation and launch_navigation_nomap args are exclusive
	and they are (or not) launched for all robots-->
	<arg name="launch_rviz" default="true"/>
	<arg name="rviz_config" default="$(find rb1_base_gazebo)/rviz/rb1_base_a.rviz"/>
	<arg name="launch_robot_a" default="true"/>
	<arg name="launch_robot_b" default="false"/>
	<arg name="launch_robot_c" default="false"/>
	<arg name="gazebo_world" default="$(find rb1_base_gazebo)/worlds/rb1_base.world"/>
	<arg name="debug" default="false"/>
        <arg name="launch_base_hw_sim" default="false"/>
        <arg name="launch_elevator_fake_pickup_gazebo" default="false"/>
	<arg name="config_yaml" default="$(find rb1_base_sim_bringup)/config/elevator_fake_pickup_gazebo.yaml"/> 
	
	<!--params of the different robots-->
	<!-- robot a -->
	<arg name="id_robot_a" default="rb1_base_a"/>
	<arg name="x_init_pose_robot_a" default="0" />
	<arg name="y_init_pose_robot_a" default="0" />
	<arg name="yaw_init_pose_robot_a" default="0" />
	<arg name="z_init_pose_robot_a" default="0" />
	<arg name="localization_robot_a" default="false"/>
	<arg name="gmapping_robot_a" default="false"/>
	<arg name="move_base_robot_a" default="false"/>
	<arg name="amcl_and_mapserver_a" default="false"/>
	<arg name="map_file_a" default="$(find rb1_base_localization)/maps/empty/map_empty.yaml"/>
	<arg name="map_frame_a" default="$(arg id_robot_a)_map"/>
	<arg name="xacro_robot_a" default="rb1_base_std.urdf.xacro"/>
        <arg name="has_elevator_robot_a" default="true"/>
	
	<!-- robot b -->
	<arg name="id_robot_b" default="rb1_base_b"/>
	<arg name="x_init_pose_robot_b" default="0" />
	<arg name="y_init_pose_robot_b" default="1" />
	<arg name="yaw_init_pose_robot_b" default="0" />
	<arg name="z_init_pose_robot_b" default="0" />
	<arg name="localization_robot_b" default="false"/>
	<arg name="gmapping_robot_b" default="false"/>
	<arg name="move_base_robot_b" default="false"/>
	<arg name="amcl_and_mapserver_b" default="false"/>
	<arg name="map_file_b" default="$(find rb1_base_localization)/maps/empty/map_empty.yaml"/>
	<arg name="map_frame_b" default="$(arg id_robot_b)_map"/>
	<arg name="xacro_robot_b" default="rb1_base_std.urdf.xacro"/>
	<arg name="has_elevator_robot_b" default="true"/>
	
	<!-- robot c -->
	<arg name="id_robot_c" default="rb1_base_c"/>
	<arg name="x_init_pose_robot_c" default="0" />
	<arg name="y_init_pose_robot_c" default="2" />
	<arg name="z_init_pose_robot_c" default="0" />
	<arg name="localization_robot_c" default="false"/>
	<arg name="gmapping_robot_c" default="false"/>
	<arg name="move_base_robot_c" default="false"/>
	<arg name="amcl_and_mapserver_c" default="false"/>
	<arg name="map_file_c" default="$(find rb1_base_localization)/maps/empty/map_empty.yaml"/>
	<arg name="map_frame_c" default="$(arg id_robot_c)_map"/>
	<arg name="xacro_robot_c" default="rb1_base_std.urdf.xacro"/>
	<arg name="has_elevator_robot_c" default="true"/>
	
	<!--BEGIN ROBOT 1-->
	<include if="$(arg launch_robot_a)" file="$(find rb1_base_gazebo)/launch/rb1_base_one_robot.launch">
		<arg name="id_robot" value="$(arg id_robot_a)"/>
		<arg name="x_init_pose" value="$(arg x_init_pose_robot_a)"/>
		<arg name="y_init_pose" value="$(arg y_init_pose_robot_a)"/>
		<arg name="z_init_pose" value="$(arg z_init_pose_robot_a)"/>
		<arg name="yaw_init_pose" value="$(arg yaw_init_pose_robot_a)"/>
		<arg name="xacro_robot" value="$(arg xacro_robot_a)"/>
		<arg name="launch_robot_localization" value="$(arg localization_robot_a)"/>
		<arg name="launch_amcl_and_mapserver" value="$(arg amcl_and_mapserver_a)"/>
		<arg name="launch_gmapping" value="$(arg gmapping_robot_a)"/>
		<arg name="map_file" value="$(arg map_file_a)"/>
 		<arg name="launch_move_base" value="$(arg move_base_robot_a)"/>
		<arg name="global_frame" value="$(arg map_frame_a)"/>
		<arg name="launch_base_hw_sim" value="$(arg launch_base_hw_sim)"/>
		<arg name="has_elevator" value="$(arg has_elevator_robot_a)"/>	
		<arg name="fake_elevator_physics" value="$(arg launch_elevator_fake_pickup_gazebo)"/>	
	</include>
	
	<!--BEGIN ROBOT 2-->
	<include if="$(arg launch_robot_b)" file="$(find rb1_base_gazebo)/launch/rb1_base_one_robot.launch">
		<arg name="id_robot" value="$(arg id_robot_b)"/>
		<arg name="x_init_pose" value="$(arg x_init_pose_robot_b)"/>
		<arg name="y_init_pose" value="$(arg y_init_pose_robot_b)"/>
		<arg name="z_init_pose" value="$(arg z_init_pose_robot_b)"/>
		<arg name="xacro_robot" value="$(arg xacro_robot_b)"/>
		<arg name="launch_robot_localization" value="$(arg localization_robot_b)"/>
		<arg name="launch_amcl_and_mapserver" value="$(arg amcl_and_mapserver_b)"/>
		<arg name="launch_gmapping" value="$(arg gmapping_robot_b)"/>
		<arg name="map_file" value="$(arg map_file_b)"/>
 		<arg name="launch_move_base" value="$(arg move_base_robot_b)"/>
		<arg name="global_frame" value="$(arg map_frame_b)"/>
		<arg name="launch_base_hw_sim" value="$(arg launch_base_hw_sim)"/>
		<arg name="has_elevator" value="$(arg has_elevator_robot_b)"/>	
		<arg name="fake_elevator_physics" value="$(arg launch_elevator_fake_pickup_gazebo)"/>		
	</include>

	<!--BEGIN ROBOT 3-->
	<include if="$(arg launch_robot_c)" file="$(find rb1_base_gazebo)/launch/rb1_base_one_robot.launch">
		<arg name="id_robot" value="$(arg id_robot_c)"/>
		<arg name="x_init_pose" value="$(arg x_init_pose_robot_c)"/>
		<arg name="y_init_pose" value="$(arg y_init_pose_robot_c)"/>
		<arg name="z_init_pose" value="$(arg z_init_pose_robot_c)"/>
		<arg name="xacro_robot" value="$(arg xacro_robot_c)"/>
		<arg name="launch_robot_localization" value="$(arg localization_robot_c)"/>
		<arg name="launch_amcl_and_mapserver" value="$(arg amcl_and_mapserver_c)"/>
		<arg name="launch_gmapping" value="$(arg gmapping_robot_c)"/>
		<arg name="map_file" value="$(arg map_file_c)"/>
 		<arg name="launch_move_base" value="$(arg move_base_robot_c)"/>
		<arg name="global_frame" value="$(arg map_frame_c)"/>
		<arg name="launch_base_hw_sim" value="$(arg launch_base_hw_sim)"/>
		<arg name="has_elevator" value="$(arg has_elevator_robot_c)"/>	
		<arg name="fake_elevator_physics" value="$(arg launch_elevator_fake_pickup_gazebo)"/>		
	</include>

	<!-- gazebo simulation and rviz visualization-->
	<include file="$(find rb1_base_gazebo)/launch/gazebo_rviz.launch">		
		<arg name="launch_rviz" value="$(arg launch_rviz)"/>
		<arg name="world_name" value="$(arg gazebo_world)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="rviz_config" value="$(arg rviz_config)"/>
	</include>

        <!-- avoids Gazebo physics to pickup carts -->
	<include if="$(arg launch_elevator_fake_pickup_gazebo)" file="$(find robotnik_base_hw_sim)/launch/elevator_fake_pickup_gazebo.launch">
		<arg name="config_yaml" value="$(arg config_yaml)"/>
	</include>

  
</launch>
